body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 28px;
    margin-top: 15%;
    color: #333;
}

#scoreboard {
    margin: 20px 20%;
    padding: 5px;
    background-color: #ccc;
    color: #333;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 102, 102, 0.6);
}

#scoreboard p {
    font-size: 20px;
    margin: 5px 0;
}

button {
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#choices button {
    background-color: #5cb85c;
    padding: 20px;
}

#choices button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: #4cae4c;
    transition: 0.3s ease;
}

#restartBtn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #d9534f;
}

#restartBtn:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: #c9302c;
    transition: 0.3s ease;
}